#log_dot_imag{
    width: 178px;
    image-rendering: pixelated;
}

#log_hanasu{
  color: rgb(0, 255, 0);
  position: relative;
  width: fit-content;
  padding: 0.5em 1em;
  border: 1px solid rgb(0, 255, 0);
  background: black;
  width: 110px;
}
#log_hanasu::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0%;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  background-color: black;
  rotate: -135deg;
  translate: -50%;
}
#log_hanasu::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0%;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: rgb(0, 255, 0) rgb(0, 255, 0) transparent transparent;
  rotate: -135deg;
  translate: -50%;
}

#log_sampVo{
  padding: 0.5em;
  color: rgb(0,255,0);
  height: 3em;
}

.typecursor{
  	display: inline-block;
    width: 1px;
    height: 1em;
    background-color: #0f0;
    margin-left: 3px;
  animation: blink 0.8s steps(1, start) infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.corpimg{
  position: relative;
  z-index: 0;
  &:hover{
    top: -10px;
  }
}

.dot{
    background-image:radial-gradient(rgb(0,255,0) 1%, transparent 10%);
}

.button_log{
    border: 1px solid rgb(0,255,0);
    padding: 3px;
    &:hover{
        position: relative;
        top: -2px;

        color: black;
        background: rgb(0,255,0);
    }
}

.a_log{
    color: rgb(0,255,0);
    text-decoration: none;
        cursor: url("cursor.png") 0 0, auto;
    
    &:visited{
        color: rgb(0,255,0);
        text-decoration: none;
    }

    &:hover{
        &:active{
            color: rgb(0,255,0);
            text-decoration: none;
        }

        position: relative;
        top: -2px;
        color: black;
        background: rgb(0,255,0);
    }
}

#cursor-stalker{
  background: white;
  width: 30px;
}