body{
    font-size: 10px;
}

a{
    color: white;
    text-decoration: none;
        cursor: url("cursor.png") 0 0, auto;
    
    &:visited{
        color: white;
        text-decoration: none;
    }

    &:hover{
        &:active{
            color: white;
            text-decoration: none;
        }

        position: relative;
        top: 0px;
        color: white;
    }
}